<!-- テキスト情報タブの構成 -->
<div class="tab-pane col-sm-12" id="info">
	<div class="panel panel-default">
		<div class="panel-heading">テキスト情報</div>
		<div class="panel-body">
			<div id="statistics_panel">

				<div class='container'>
					<div id='basic_data' class='col-sm-6'></div>
					<div id='xxx' class='col-sm-6'></div>
				</div>

				<hr />

				<div class='container'>
					<div id='hinshi_data' class='col-sm-6'></div>
					<div id="hinshi_panel" class="col-sm-6">
				    <div id="hinshi_chart" style="width: 320px;"></div>
					</div>										
				</div>

				<hr />

				<div class='container'>
					<div id='goshu_data' class='col-sm-6'></div>
					<div id="goshu_panel" class="col-sm-6">
				    <div id="goshu_chart" style="width: 320px;"></div>
				  </div>										
				</div>

				<hr />

				<div class='container'>
					<div id='mojishu_data' class='col-sm-6'></div>
					<div id="mojishu_panel" class="col-sm-6">
				    <div id="mojishu_chart" style="width: 320px;"></div>
				  </div>										
				</div>

			</div>
		</div>
	</div>
</div>     
