<!-- テキスト情報タブの構成 -->
<div class="tab-pane col-sm-12" id="info">
  <div class="panel panel-default">
    <div class="panel-heading">テキスト情報</div>
    <div class="panel-body">
      <div id="statistics_panel">

        <div class='container'>
          <div id='basic_data' class='col-sm-6'>
            <h4><span class="label label-primary">テキストの概要</span></h4>
            <small>総形態素数（異なり）を表示するには「語彙リストを出力」をオンに</small>
            <table id="table_statistics" class="table table-condensed table-striped"></table>
          </div>
          <div id='xxx' class='col-sm-6'></div>
        </div>

        <hr />

        <div class='container'>
          <div class='col-sm-6'>
            <h4><span class="label label-primary">品詞構成</span></h4>
            <small>記号類は除外</small>
            <table id="table_hinshi" class="table table-condensed table-striped"></table>    
          </div>
          <div id="hinshi_panel" class="col-sm-6">
            <div id="hinshi_chart" style="width: 320px;"></div>
          </div>
        </div>

        <hr />

        <div class='container'>
          <div class='col-sm-6'>
            <h4><span class="label label-primary">語種構成</span></h4>
            <small>定型句は「ありがとう」などを指す</small>
            <table id="table_goshu" class="table table-condensed table-striped"></table>
          </div>
          <div id="goshu_panel" class="col-sm-6">
            <div id="goshu_chart" style="width: 320px;"></div>
          </div>
        </div>

        <hr />

        <div class='container'>
          <div class='col-sm-6'>
            <h4><span class="label label-primary">文字種構成</span></h4>
            <small>記号やアラビア数字等は除外</small>
            <table id="table_mojishu" class="table table-condensed table-striped"></table>
          </div>
          <div id="mojishu_panel" class="col-sm-6">
            <div id="mojishu_chart" style="width: 320px;"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
